# Vivado
*.jou
*.log
*.str
*.xpr
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.gen/
.Xil/

# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Doc (binari grandi, non versionare)
doc/*.pdf
